<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List of popular languages for data science
- Commonly user libraries in data science 
- Examples of code and markdown

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools| Jupyter | R Studio | SQL |
|------------------|---|---|---|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
mins=200
hours=mins/60
print(hours)

3.3333333333333335

<h2>Author</h2>
Nikhilesh